{% extends "main.html.twig" %}

{% block header %}

    <script>
        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/{{ data.0.gerecht.afbeelding}}"}
            ] // Einde slide sources
                    
            $("#background-image").vegas({                               // let op de #!!! dit is een ID voor later en hier moet dus een #
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides,
            }) // Einde background-image functie

        }) // Einde .ready functie
    </script>

{% endblock %}


{% block content %}
<div class="m-4-5">
<div class="row shadow background-white"> {# Begin bevenste gedeelte. Hier kan je min-height achter zetten, maar de omschrijving hieronder doet dat ook al#}  


<div class="col-md-5"
    style="background-image: url('assets/img/gerechten/{{data.0.gerecht.afbeelding}}'); background-position: center; background-size: cover">   {#kolom met plaatje #}
</div>

<div class="col-md-7 background-white">
    {# cijfers van personen, prijs en calorieen #}
    <div class="row">
        <div class="col-md-2"> 
            <i class="fa fa-user" style="color:#F00"></i> 4
        </div>
        <div class="col-md-2"> 
            <i class="fa fa-euro-sign" style="color:#F00"></i> {{ data.0.prijs |round(2)}}
        </div>
        <div class="col-md-2"> 
            <i class="fa fa-fire" style="color:#F00"></i> {{ data.0.calorieen |round(2)}}
        </div>
    </div>

    {# Naam en sterren #}


    {#% set record = data %#}
    <div class="row">
        <div class="col-md-8 green"> 
            <h2> {{ data.0.gerecht.titel }} </h2>
        </div>
        <div class="col-md-4"> 
            <h3> **** </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 green">
            <h4> Keuken </h4> 
        </div>
        <div class="col-md-3">
            {{data.0.keuken.omschrijving}} 
        </div>

        <div class="col-md-3 green">
            <h4> Type </h4> 
        </div>
        <div class="col-md-3">
            {{data.0.type.omschrijving}}
        </div>
    </div>

    {# omschrijving #}
    <div class="row" style="min-height: 410px";>
        {{data.0.gerecht.lange_omschrijving}}
    </div>

    {# op lijst en favorieten knop #}
    <div class="row">
        <div class="col-md-11">
            <a href="http://localhost/educom-verrukkulluk-1668679088/index.php?gerecht_id=2&action=detail"  style="text-decoration: none"> <div id="smullen" class="smullen_button" style> Op lijst </div> </a>
        </div>
        <div class="col-md-1">
            <i class="fa fa-heart fa-2x"></i>
        </div>
    </div>

</div> {# Einde rechter kant #}
</div> {# Einde geheel bovenste gedeelte #}

</div>  {# Sluit de m4-5 van hieroven voor de gerecht details#}
<!-- tabladen: -->

<div class="m-4-5">     {# opent een nieuwe m4-5 voor de tabs#}
<!-- Tab buttons -->
<div class="row shadow background-white">

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Ingredienten')"> <span class="tab-green"> Ingrediënten </span> </button>
        <button class="tablinks" onclick="openTab(event, 'Bereidingswijze')"> <span class="tab-green"> Bereidingswijze </span> </button>
        <button class="tablinks" onclick="openTab(event, 'Opmerkingen')"> <span class="tab-green"> Opmerkingen </span> </button>
    </div>

    <!-- content -->
    <div id="Ingredienten" class="tabcontent">
        {% for record in data.0.ingredienten %}
            <div class="row" style="min-height: 100px";>
                <div class="col-md-1" 
                    style="background-image: url('assets/img/artikelen/{{record.afbeelding}}'); background-position: center; background-size: cover"> 
                </div>
                <div class="col-md-11">
                    <h2 style="color: #6e8722"> {{record.naam}} </h2>
                    <div> {{record.omschrijving}} </div>
                    <span class="hgreen"> Hoeveelheid: </span>            {# zoek hiervoor een goeie a h of whatever #}
                    <span>  {{record.aantal}} {{record.eenheid}} </span>
                </div> {# Einde div md-11 #}
            </div> {# Einde row class #}
        {% endfor %}
    </div>

    <div id="Bereidingswijze" class="tabcontent">
        {% for record in data.0.bereidingswijze %}
        <div class="row" style="min-height: 50px";>
            <div class="col-md-1" style="background-color: #fca01f; width: 50px; border-radius: 50%"> {{record.nummeriekveld}}. </div>
            <div class="col-md-11"> {{record.tekstveld}} </div>
        </div>
        {% endfor %}
    </div>

    <div id="Opmerkingen" class="tabcontent">
        {% for record in data.0.opmerkingen %}
        <div class="row pt-3 pl-5">
            <div class="col-md-4"
                style="background-image: url('assets/img/users/{{record.afbeelding}}'); background-position: center; background-size: cover; height: 150px; max-width: 150px; border-radius: 50%"> 
            </div>
            <div class="col-sm-8 pl-4"> 
                <div class="row h2-5"> {{record.user_name}} </div>
                <div class="row"> {{record.tekstveld}} </div> <br>
            </div>
        </div>
        {% endfor %}
    </div> {# Einde opmerkingen div #}

</div> {# Einde button div #}
</div> 

{#
       <pre>
        {{ dump(data.0.ingredienten.0.naam)}}
        {{ dump(data.0) }} 
#}

{% endblock %}
