{% extends "main.html.twig" %}

{% block header %}

    <script>
        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/{{ data.0.gerecht.afbeelding}}"}
            ] // Einde slide sources
                    
            $("#background-image").vegas({                               // let op de #!!! dit is een ID voor later en hier moet dus een #
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides,
            }) // Einde background-image functie

        }) // Einde .ready functie
    </script>

{% endblock %}


{% block content %}
<div class="row" style="min-height: 600px";> {# Begin bevenste gedeelte #}

<div class="col-md-5" 
    style="background-image: url('assets/img/gerechten/{{data.0.gerecht.afbeelding}}'); background-position: center; background-size: cover">   {#kolom met plaatje #}
</div>

<div class="col-md-7" style="background-color: #FFF">
    {# cijfers van personen, prijs en calorieen #}
    <div class="row">
        <div class="col-md-2"> 
            <i class="fa fa-file-pdf" style="color:#F00"></i> 4
        </div>
        <div class="col-md-2"> 
            <i class="fa fa-file-pdf" style="color:#F00"></i> {{ data.0.prijs |round(2)}}
        </div>
        <div class="col-md-2"> 
            <i class="fa fa-file-pdf" style="color:#F00"></i> {{ data.0.calorieen |round(2)}}
        </div>
    </div>

    {# Naam en sterren #}


    {#% set record = data %#}
    <div class="row">
        <div class="col-md-8"> 
            <h2> {{ data.0.gerecht.titel }} </h2>
        </div>
        <div class="col-md-4"> 
            <h3> **** </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4> Keuken </h4> 
        </div>
        <div class="col-md-3">
            keuken 
        </div>

        <div class="col-md-3">
            <h4> Type </h4> 
        </div>
        <div class="col-md-3">
            Type 
        </div>
    </div>

    {# omschrijving #}
    <div class="row">
    Omschrijving
    </div>

    {# op lijst en favorieten knop #}
    <div class="row">
        <div class="col-md-8">
        Knop 
        </div>
        <div class="col-md-4">
        favoriet
        </div>
    </div>

</div> {# Einde rechter kant #}
</div> {# Einde geheel bovenste gedeelte #}


<!-- tabladen: -->


<!-- Tab buttons -->
<div class="row">

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Ingredienten')">Ingrediënten </button>
        <button class="tablinks" onclick="openTab(event, 'Bereidingswijze')">Bereidingswijze </button>
        <button class="tablinks" onclick="openTab(event, 'Opmerkingen')">Opmerkingen </button>
    </div>

    <!-- content -->
    <div id="Ingredienten" class="tabcontent">
        {% for record in data.0.ingredienten %}
            <div class="row" style="min-height: 100px";>
                <div class="col-md-1" 
                    style="background-image: url('assets/img/artikelen/{{record.afbeelding}}'); background-position: center; background-size: cover"> 
                </div>
                <div class="col-md-11">
                    <h3> {{record.naam}} </h3>
                    {{record.omschrijving}} <br>
                    Hoeveelheid: {{record.aantal}} {{record.eenheid}} 
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="Bereidingswijze" class="tabcontent">
        {% for record in data.0.bereidingswijze %}
        <div class="row" style="min-height: 50px";>
            <div class="col-md-1" style="background-color: #fca01f; width: 50px; border-radius: 50%"> {{record.nummeriekveld}}. </div>
            <div class="col-md-11"> {{record.tekstveld}} </div>
        </div>
        {% endfor %}
    </div>

    <div id="Opmerkingen" class="tabcontent">
        {% for record in data.0.opmerkingen %}
        <div class="row">
            <div class="col-md-4"
                style="background-image: url('assets/img/users/{{record.afbeelding}}'); background-position: center; background-size: cover; height: 150px; max-width: 150px; border-radius: 50%"> 
            </div>
            <div class="col-sm-8"> 
                <div class="row"> {{record.user_name}} </div>
                <div class="row"> {{record.tekstveld}} </div> <br>
            </div>
        </div>
        {% endfor %}
    </div> {# Einde opmerkingen div #}

</div> {# Einde button div #}

{#
       <pre>
        {{ dump(data.0.ingredienten.0.naam)}}
        {{ dump(data.0) }} 
#}

{% endblock %}
