{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

    <script>
        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/Eggs_and_Veggies.jpg"},             // Kan ook met assets/img/gerechten/{{data.0.gerecht.afbeelding}} en dan data.1, data.2 etc
                {src: "assets/img/gerechten/Vegan_Burger.jpg"},
                {src: "assets/img/gerechten/Sushi_Rolls.jpg"},
                {src: "assets/img/gerechten/Pizza_Green.png"}
            ] // Einde slide sources
                        
            $("#background-image").vegas({
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides
            }) // Einde background-image functie



/*
            $('.star').each( (index, elem) => {
                //console.log(index);
       
              const rating = {{data.1.rating}}
              const itemValue = $(elem).attr('data-value')
              if(itemValue <= rating) {
                $(elem).addClass('green')
              }
            })
*/

        }) // Einde .ready functie
    </script>

{% endblock %}


{# nu de block content op in de main pagina vullen #}

{#voor spacing later toe te voegen mogelijk gebruijken: https://getbootstrap.com/docs/4.0/utilities/spacing/ #}
{% block content %}
    {% for record in data %}    {# Deze loopt door de gehele data ($gerechten array) heen. #}
        <script>
            $(document).ready( function() {
                $('.star-{{record.gerecht.id}}').each( (index, elem) => {
                    //console.log(index);
        
                const rating = {{record.rating}}
                const itemValue = $(elem).attr('data-value')
                if(itemValue <= rating) {
                    $(elem).addClass('green')
                }
            })
        }) // Einde .ready functie
        </script>
    
    {# Hier starten de 4 grijze achtergrond hokjes #}
    <div class="col-md-6">      {# Hier maken we een nieuwe bootstrap opdeling binnen content iedere 6 #}
    <div class="m-4-5">           {# Hier kan je nu zowel m and p gebruiken #}
    <div class="custom-shadow"> {# Let op hier is een andere soort shadow!! #} 

        {# Hier start de 1ste row met daarbinnen de afbeelding #}
        <div class="row homepage-picture-height">
            <div class="col-md-12" style="background-image: url('assets/img/gerechten/{{record.gerecht.afbeelding}}'); background-repeat: no-repeat; background-position: center; background-size: cover">
            </div>
        </div>   


        {# Hier start de 2de row met daarbinnen de titel en sterren #}
        <div class="row background-white pt-3">
            <div class="col-md-6 green"> {#titel div #}
                <h2> {{ record.gerecht.titel }} </h2>
            </div> {# Einde titel div #}
            <div class="col-md-6"> 
                <h3> 
                    <span class="star-{{record.gerecht.id}}" data-value="1">*</span> {# if functie + class green om dit werkende te krijgen #}
                    <span class="star-{{record.gerecht.id}}" data-value="2">*</span>      {# Dit heeft een rode hover door de CSS mogelijk een nieuwe star voor de homepage maken #}
                    <span class="star-{{record.gerecht.id}}" data-value="3">*</span>
                    <span class="star-{{record.gerecht.id}}" data-value="4">*</span>
                    <span class="star-{{record.gerecht.id}}" data-value="5">*</span>
                </h3>
            </div> 
        </div> {# einde class row voor de titel en sterren #}


        {# Hier start de 3de row met de beschijving #}
        <div class="row">
            <div class="col-md-12 homepage-beschrijving-height background-white pt-3"> 
                {{ record.gerecht.korte_omschrijving }} 
            </div>
        </div>


        {# Hier start de 4de een laatste row met de button en andere kleine gegevens #}
        <div class="row background-white">
            <div class="col-md-6 pb-3"> 
                <a href="http://localhost/educom-verrukkulluk-1668679088/index.php?gerecht_id={{record.gerecht.id}}&action=detail" class="no-text-decoration"> <div id="smullen" class="smullen_button"> Smullen! </div> </a>
            </div>
            <div class="col-md-2 background-white pt-3"> 
                <i class="fa fa-user fa-lg light-red"></i> 4
            </div>
            <div class="col-md-2 background-white pt-3"> 
                <i class="fa fa-euro-sign fa-lg light-red"></i> {{ record.prijs |round(2)}}
            </div>
            <div class="col-md-2 background-white pt-3"> 
                <i class="fa fa-fire fa-lg light-red"></i> {{ record.calorieen |round(0)}}
            </div>
        </div>

   
    </div>  {# shadow & background div #}
    </div>  {# m-4-5 class #}
    </div>  {# Eindigd de grijze box div #}


    {% endfor %}

    <!-- 
    {# Dump #}
    <pre>
        {{ dump(data) }}
    </pre>
    -->

{% endblock %}
