{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

    <script>
        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/Eggs_and_Veggies.jpg"},             // Kan ook met assets/img/gerechten/{{data.0.gerecht.afbeelding}} en dan data.1, data.2 etc
                {src: "assets/img/gerechten/Vegan_Burger.jpg"},
                {src: "assets/img/gerechten/Sushi_Rolls.jpg"},
                {src: "assets/img/gerechten/Pizza_Green.png"}
            ] // Einde slide sources
                        
            $("#background-image").vegas({
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides
            }) // Einde background-image functie

        }) // Einde .ready functie
    </script>

{% endblock %}


{# nu de block content op in de main pagina vullen #}

{#voor spacing later toe te voegen mogelijk gebruijken: https://getbootstrap.com/docs/4.0/utilities/spacing/ #}
{% block content %}
    {% for record in data %}    {# Deze loopt door de gehele data ($gerechten array) heen. #}
    
    {# Hier starten de 4 grijze achtergrond hokjes #}
    <div class="col-md-6 p-5">    {# Hier maken we een nieuwe bootstrap opdeling binnen content iedere 6 #}
    <div class="" style="box-shadow: 6px 6px 20px 15px rgba(120, 117, 119, 0.5);background-color: #ffffff"> {# Let op hier is een andere soort shadow!! #}

        {# Hier start de 1ste row met daarbinnen de afbeelding #}
        <div class="row" style="min-height: 400px";>
            <div class="col-md-12" style="background-image: url('assets/img/gerechten/{{record.gerecht.afbeelding}}'); background-repeat: no-repeat; background-position: center; background-size: cover">
            </div>
        </div>   


        {# Hier start de 2de row met daarbinnen de titel en sterren #}
        <div class="row">
            <div class="col-md-6" style="background-color: #ffffff"> {#titel div #}
                <h2> {{ record.gerecht.titel }} </h2>
            </div> {# Einde titel div #}
            <div class="col-md-6" style="background-color: #FFF"> <h3> **** </h3> </div> 
        </div> {# einde class row voor de titel en sterren #}


        {# Hier start de 3de row met de beschijving #}
        <div class="row">
            <div class="col-md-12" style="background-color: #FFF; height: 150px"> 
                {{ record.gerecht.korte_omschrijving }} 
            </div>
        </div>


        {# Hier start de 4de een laatste row met de button en andere kleine gegevens #}
        <div class="row">
            <div class="col-md-6" style="background-color: #FFF"> 
                <a href="http://localhost/educom-verrukkulluk-1668679088/index.php?gerecht_id={{record.gerecht.id}}&action=detail"  style="text-decoration: none"> <div id="smullen" class="smullen_button" style> Smullen! </div> </a>
            </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-user" style="color:#F00"></i> 4
            </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-euro-sign" style="color:#F00"></i> {{ record.prijs |round(2)}}
            </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-fire" style="color:#F00"></i> {{ record.calorieen |round(0)}}
            </div>
        </div>

   
    </div> {# shadow & background div #}
    </div> {# Eindigd de grijze box div #}


    {% endfor %}

    <!-- 
    {# Dump #}
    <pre>
        {{ dump(data) }}
    </pre>
    -->

{% endblock %}
