{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="col-md-12" style="background-image: url('assets/img/razer-wallpapers-page-hero-mobile.jpg')">
    <img src="assets/img/logo-v2.png"/>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
 
    {% for record in data %}    {# Deze loopt door de gehele data ($gerechten array) heen. #}

    {# Hier starten de 4 grijze achtergrond hokjes #}
     <div class="col-md-6" style="background-color: #999">    {# Hier maken we een nieuwe bootstrap opdeling binnen content iedere 6 #}


        {# Hier start de 1de row met daarbinnen de afbeelding #}
        <div class="row">
            <img src="assets/img/gerechten/{{record.gerecht.afbeelding}}" style="width: 400px; height: 200px;">
        </div> 

        {# Hier start de 2de row met daarbinnen de titel en sterren #}
        <div class="row">
            <div class="col-md-6" style="background-color: #ffffff"> {#titel div #}
            <h2> {{ record.gerecht.titel }} </h2>

            <!--
            {# sub-loop #}
                {% for ingr in record.ingredienten %}
               
                    
                        <span {% if ingr.id < 3 %}style='color: #F00'{% endif %}>{{  ingr.naam }}</span>

                        {# if #}
                        {%  if ingr.id == 3 %}
                            <strong>Dit is ID 3!</strong>
                        {%  endif  %}
                    
                {% endfor %}
            -->

            </div> {# Einde titel div #}

            <div class="col-md-6" style="background-color: #FFF"> <h3> **** </h3> </div> 

        </div>

        {# Hier start de 3de row met de beschijving #}
        <div class="row"> {{ record.gerecht.korte_omschrijving }} </div>


        {# Hier start de 4de een laatste row met de button en andere kleine gegevens #}
        <div class="row">
            <div class="col-md-6" style="background-color: #FFF"> Hier komt de button </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-file-pdf"></i> 4
            </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-file-pdf"></i> {{ record.prijs |round(2)}}
            </div>
            <div class="col-md-2" style="background-color: #FFF"> 
                <i class="fa fa-file-pdf"></i> {{ record.calorieen |round(2)}}
            </div>
        </div>


    </div> {# Eindigd de grijze box div #}

    {% endfor %}
    <ul>
     {# Dump #}
       <pre>
        {{ dump(data) }}
       </pre>

{% endblock %}
