{% extends "main.html.twig" %}

{% block header %}

    <script>
        // Vegas functie:

        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/{{ data.0.gerecht.afbeelding}}"}
            ] // Einde slide sources
                    
            $("#background-image").vegas({                               // let op de #!!! dit is een ID voor later en hier moet dus een #
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides,
            }) // Einde background-image functie
            

        }) //// eindigd document ready

    </script>

{% endblock %}


{% block content %}

<div>
{% for record in zoekfunctie %}

<div class="row">

    <div class="col-md-2"
    style="background-image: url('assets/img/gerechten/{{record.afbeelding}}'); background-position: center; background-size: cover; height: 125px; width: 125px"> 
    </div>

    <div class="col-md-2">
    <a href="http://localhost/educom-verrukkulluk-1668679088/index.php?gerecht_id={{record.id}}&action=detail">
    {{record.titel}}
    </a>
    </div>

</div>
{% endfor %}

</div>

<pre>
{{ dump(zoekfunctie) }}

{% endblock %}
