{% extends "main.html.twig" %}

{% block header %}

    <script>
        // Vegas functie:

        $(document).ready( function() {

            const mySlides = [
                {src: "assets/img/gerechten/{{ data.0.gerecht.afbeelding}}"}
            ] // Einde slide sources
                    
            $("#background-image").vegas({                               // let op de #!!! dit is een ID voor later en hier moet dus een #
                overlay: 'assets/vegas/overlays/01.png',                        // Mogelijk deze weghalen als we die pixel overlay niet willen hebben
                slides: mySlides,
            }) // Einde background-image functie
            

        }) //// eindigd document ready

    </script>

{% endblock %}


{% block content %}


{% for record in zoekfunctie %}
<div class="col-md-12">
<div class="m-4-5">           {# Hier kan je nu zowel m and p gebruiken #}
<div class="custom-shadow"> {# Let op hier is een andere soort shadow!! #} 

<div class="row">




    <div class="col-md-3"
    style="background-image: url('assets/img/gerechten/{{record.afbeelding}}'); background-position: center; background-size: cover; height: 175px; width: 150px"> 
    </div>

    <div class="col-md-9">
        <a href="http://localhost/educom-verrukkulluk-1668679088/index.php?gerecht_id={{record.id}}&action=detail" class="no-text-decoration green">
            <h2> {{record.titel}} </h2>
        </a>
        <div>
            {{record.korte_omschrijving}}
        </div>
    </div>

</div>

</div>
</div>
</div>

{% endfor %}



<pre>
{{ dump(zoekfunctie) }}

{% endblock %}
